@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Regular');
}

@layer components {
	.input {
		@apply border-slate-300 border-2 rounded mb-3 p-1 dark:bg-neutral-600 dark:border-neutral-600;
	}
}

* {
	font-family: 'Montserrat';
}
